*

!/.gitignore
!/README.md
!/notes.md
!/Makefile
!/Makefile.test

!/src/
!/src/**

!/tests/
!/tests/*.py

!/flow/
!/flow/*.sh
!/flow/configs/
!/flow/configs/*.json

!/docs/
!/docs/**

!/resources/
!/resources/**

!/notebooks/
!/notebooks/**

